In [1]:
# Render our plots inline
%matplotlib inline

from requests import get
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

from pandas.io.json import json_normalize

In [2]:
# returns the list of concepts existing in the CBR system
def get_concepts():
    raw = pd.DataFrame(requests.get(url + 'concepts/').json()) 
    concepts = pd.DataFrame.from_records(raw).values.tolist()
    return concepts

In [3]:
get_concepts()

NameError: name 'url' is not defined

In [8]:
def get_attributes(concept):
    raw = pd.DataFrame(requests.get(url + 'concepts/' + concept + '/attributes').json()) 
    attributes = pd.DataFrame(raw).reset_index()
    attributes.columns = ['name', 'type']
    return attributes

In [ ]:
get_attributes(get_concepts()[0][0]) # returns a dataframe of attribute names and their type existing in the CBR system

In [2]:
server = 'localhost'

port = '8080'
url = 'http://' + server + ':' + port + '/'

In [3]:
def retrieve_k_sim_byID_content(concept, casebase, amalFct, queryID, k):
    raw = pd.DataFrame(requests.get(url + 'concepts/' + concept + '/casebases/' 
                                        + casebase + '/retrievalByIDWithContent?amalgamation%20function='+amalFct+'&caseID=' 
                                        + queryID + '&k=' + k ).json()) 
    results = raw.apply(pd.to_numeric, errors='coerce').fillna(raw).sort_values(by='similarity', ascending=False)
    returned_df = results.apply(pd.to_numeric, errors='coerce').fillna(results)
    return returned_df

In [4]:
# Find most similar cases and get the full case content for them
retrieve_k_sim_byID_content('Car', 'CaseBase0', 'CarFunc', '17_vw', '5')

,Body,CCM,Car Code,Color,Doors,Gas,Manufacturer,Miles,Model,Power,Price,Speed,Year,ZIP,caseID,similarity
0,sedan,1900,17,dark_blue,4,diesel,vw,71433,passat,90,22099,183,1995,6,17_vw,1
1,sedan,1900,891,blue,4,diesel,vw,68993,passat,110,23599,183,1995,2,891_vw,0.658371
2,sedan,1900,532,dark_blue,4,diesel,vw,13701,passat,90,33199,183,1996,3,532_vw,0.658114
3,sedan,1900,602,blue,4,gasoline,vw,80748,passat,193,26499,183,1996,1,602_vw,0.632703
4,sedan,1900,467,dark_blue,4,gasoline,vw,91911,passat,100,16699,183,1995,8,467_vw,0.632574